@import '../../styles/variables';

.input {
    background-color: inherit;
    width: 99%;
    margin: 0 auto;
    height: 40px;
    color: $color-main;
    font-size: 16px;
    border-radius: 5px;
    display: flex;
    border: 2px solid green

    &__div {
        font-weight: 600;
    }
    &--dark {
        color: $color-grey;
    }

    &__error {
        color: red;
        margin: 0;
    }
}
