.button {
    cursor: pointer;
    border: none;
    background-color: inherit;

    &--text {
        color: #003149;;
        font-size: 20px;
        border-radius: 2px;
        padding: 16px 32px;
        font-weight: 600;
        line-height: 24px;
        border: 1px solid #003149;
        border-radius: 5px;
        margin: 0 20px;

        &:hover {
            background-color: #003149ae;
            color: #e6e6e6;
        }
    }

    &--with-icon {
        
        svg path{
            fill: #003149;
        }

        
    }

    &-active {
        svg path{
            fill: red;
        }
    }
    
    &--with-icon:hover {
        svg path{
            fill: red;
        }
    }

    svg {
        vertical-align: middle;
        width: 25px;
        height: 25px;
    }
}
