.button {
    cursor: pointer;
    border: none;
    background-color: inherit;

    &--with-icon {
        
        svg path{
            fill: #003149;
        }

        &-active {
            svg path{
                fill: red;
            }
        }
    }

    &--with-icon:hover {
        svg path{
            fill: red;
        }
    }

    svg {
        vertical-align: middle;
        width: 25px;
        height: 25px;
    }
}
