@import "../../styles/_variables";

.burger__menu {
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    min-height: 300px;
    margin: 0 auto;
    padding-top: 22px;
    background-color: rgba(206, 206, 206, 0.919);
    z-index: 2;
    line-height: 0px;
    width: 236px;
    position: fixed;
    left: 0;
    top: 84px;
    transform: translateX(-100%);
    transition: all 0.2s;

    &--active {
        transform: translateX(0);
    }
}

.burger__login {
    path{
        fill: $color-main;
    }
    width: 55px;
    height: 55px;
}

.burger_userinfo {
    & svg path{
        fill: $color-main;
    }
}

.button--burger {
    width: 100%;
    &--theme {
        width: 50%;
        border: 2px solid $color-main2;
    }
}

.user--burger {
    margin-top: 30px;
    font-weight: 700;
    font-size: 24px;
    height: 32px;
    color: $color-main;
    & span  {
        border-color: $color-main;
    }
}