@import '../../styles/variables';

.toolsbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    &:hover {
        color: black;
    }

    &__select, &__select option{
        background-color: inherit;
        border-radius: 10px;
        color: $color-main;
        font-size: 16px;
        height: 44px;
        width: 200px;
        border: 2px solid $color-main;

        &--dark {
            border-color: $color-grey;
            color: $color-grey;
        }
    }
}

.input--toolsbar {
    border-radius: 10px;
    color: $color-main;
    font-size: 16px;
    height: 40px;
    width: 200px;
    border: 2px solid $color-main;

    &--dark {
        border-color: $color-grey;
        color: $color-grey;
    }
}

.toolsbar__main {
    display: flex;
    flex-direction: column;
}

.search__result {
    margin: 0 auto;
}


@media screen and (max-width: 880px) {
    .toolsbar {
        &__select {
            margin-right: 30px;
        }
    }
}

@media screen and (max-width: 640px) {
    .toolsbar {
        &__select {
            width: 100px;
            margin: 0  30px 0 0;
        }
    }
    .input--toolsbar {
        width: 100px;
        margin: 0   10px;
    }
}
