.picture--card {
    height: 150px;
    width: 150px;
    cursor: pointer;
    &:hover {
        transform: scale(-1, 1);
    }

}

.card {
    border: 1px solid black;
    height: 260px;
    width: 180px;
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(0deg, #e3e3e3, #010d4679, #e1e1e1);
}