@import '../../styles/variables';

.picture--card {
    height: 150px;
    width: 150px;
    cursor: pointer;
    &:hover {
        transform: scale(-1, 1);
    }
}

.card {
    border: 1px solid #c3c3c3;
    height: 260px;
    width: 180px;
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(0deg, #e3e3e3, #010d4679, #e1e1e1);

    & h2 {
        color: $color-main;
    }
    &__title {
        text-decoration: none;
        text-transform: uppercase;
        color: #010d46a7;

        &:hover {
            color: #010d46;
        }
        &:visited {
            color: #010d46a7;
        }
    }

    &--dark {
        border: 1px solid $color-main;
    }

}

.card--pokeball{
    border: none;
    background: none;
    height: 78px;
    width: 78px;
}

