.header {
    &__main {
    background-color: #003149;
    display: flex;
    justify-content:space-around;
    line-height: 84px;
    height: 84px;
    }
}

.header-theme, .header__user {
    svg path{
        fill: #87d4fb;
    }
}

.button--pokeball {
    height: 100%;
    width: 70px;
    & * {
    position: fixed;
    top: 8px;
    right: 10px;
    height: 70px;
    padding: 0 10px;
    }
}

.logo * {
    cursor: pointer;
    color: red;
    svg path{
        fill: #87d4fb;
    }
}

.header__user {
    & svg {
        height: 60px;
        vertical-align: middle;
    }
}


.header__logo {
    
    & svg {
        width: 200px;
    }
    svg path{
        fill: #87d4fb;
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 500px) {
    .header__logo {

        & svg {
            width: 150px;

        }
        top: -40px;
        svg path{
            fill: #87d4fb;
            width: 150px;
            height: 150px;
        }
    }

    .button--pokeball * {
        height: 50px;
        top: 18px;
    }
}

.pokeball {
    margin-left: 10px;
}