.pokeball__menu {
    z-index: 2;
    line-height: 0px;
    width: 160px;
    position: fixed;
    right: -60px;
    top: 84px;
    transform: translateX(100%);
    transition: all 0.2s;


    
    &--active {
        transform: translateX(0);
        height: 90%;
        height: 550px;
        overflow-y: scroll;
    }


    &__buttons {
        height: 80vh;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }


}

