.all {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr 1fr;
    justify-items: center;
}

@media screen and (max-width: 1250px) {
    .all{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1030px) {
    .all{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 880px) {
    .all{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 560px) {
    .all{
        grid-template-columns: 1fr;
    }
}

.buttons__pagination {
    display: flex;
    margin: 20px auto;
}