@import '../../styles/variables';

.pokemon__page {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $color-main;
    & img {
        height: 350px;
    }

    & *::first-letter {
        text-transform: uppercase;
    }

    &-right {
        margin-right: 40px;
    }
}


.card__pokemon {
    padding: 10px;
    border-radius: 5px;
    background-color: #8D8E97;
    margin: 5px;
    color: $color-main;
}


@media screen and (max-width: 690px) {
    .pokemon__page{
        flex-direction: column;
    }
    
}

