@import '../../styles/variables';


.navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px auto;

    & a {
        text-decoration: none;
        color: $color-main;
    }

    & * svg {
        width: 35px;
        height: 35px;
    & path{
        fill: $color-header;
    }
}
}

