.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  background-color: #e6e6e6;
}

.footer {
  flex: 0 0 auto;
}

.header {
  flex: 0 0 auto;
}

.all__wrapper {
  width: 80%;
  margin: 0 auto;
}

.theme--light {
  background-color: #DADADA;
}

.theme--dark {
  background-color: #313037;
}