.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
  background-color: #e6e6e6;
}

.footer {
  flex: 0 0 auto;
}

.header {
  flex: 0 0 auto;
}

.all__wrapper {
  width: 80%;
  margin: 0 auto;
}


@media screen and (max-width: 1250px) {
  .all__wrapper {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1030px) {
  .all__wrapper {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 880px) {
  .all__wrapper {
    width: 95%;
    margin: 0 auto;
  }

  .content {
    padding: 0 60px;
  }
}

@media screen and (max-width: 640px) {
  .all__wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .content {
    padding: 0 60px  0px 0px;
  }
}

@media screen and (max-width: 640px) {
  .all__wrapper {
    width: 80%;
    margin: 0 auto;
  }

  .content {
    padding: 0 60px  0px 0px;
  }
}

.theme--light {
  background-color: #DADADA;
}

.theme--dark {
  background-color: #003149d9;
}